@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.bg-hero {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(./public/HERO.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}